<!DOCTYPE html>
<html lang="en">
<head>
   
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <%- style %>
</head>
<body>
    <%-include('_header');%>
      <!--The variable body-->
      <main id="variable-body">
        <%- body %>
    </main>
    
    <!--Script tags are added here-->
    <%- script %>
    
</body>
</html>