<link rel="stylesheet" type="text/css" href="/css/user_profile.css">






<% if(user.id==profile_user.id){%>
    <div id="header-container">
        <div id="cover-pic"></div>
        <div id="profile-details">
            <% if(user.avatar) {%>
                <div id="profile-pic">
                    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
                </div>
                <%} else {%>
                    <div id="profile-pic"><img src="/images/avatar-1577909_1280.png" alt="<%= user.name %>"></div>
                    <%}%>

                        <div id="user-details">
                            <div id="user-name">
                                <%= user.name %>
                            </div>

                        </div>
        </div>
        <div id="edit-profile-button"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Profile</div>

    </div>

    <div id="edit-profile">
        <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="Post">
            <div id="edit-profile-div-1">
                <lable for="name">Name</lable>
                <input type="text" id="name" name="name" placeholder="Your Name" value="<%= profile_user.name %>"
                    required>
                <lable for="name">E-mail</lable>
                <input type="email" id="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>"
                    required>
            </div>
            <div id="edit-profile-div-3">
                <lable for="name">Profile Picture</lable>
                <input type="file" id="avatar" name="avatar" placeholder="Profile Picture">
            </div>
            <div id="buttons">
                <button type="submit" value="Update">Submit</button>
                <div id="cancel-button">Cancel</div>
            </div>
        </form>
    </div>
    <%}else{%>
        <div id="header-container">
            <div id="cover-pic"></div>
            <div id="profile-details">
                <% if(profile_user.avatar) { %>
                    <div id="profile-pic"><img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>"></div>
                    <% }else { %>
                        <div id="profile-pic"><img src="/images/default-avatar.jpg" alt="<%= profile_user.name %>">
                        </div>
                        <% } %>
                            <div id="user-details">
                                <div id="user-name">
                                    <%= profile_user.name %>
                                </div>
                                <div id="user-name">
                                    <%= profile_user.email %>
                                </div>
                            </div>
            </div>
        </div>
        <%}%>

            <% if(user.id==profile_user.id) { %>
                <script>
                    let editButton = document.getElementById('edit-profile-button');
                    editButton.addEventListener('click', function () {
                        document.getElementById('edit-profile').style.display = 'block';
                    });
                    let cancelButton = document.getElementById('cancel-button');
                    cancelButton.addEventListener('click', function () {
                        document.getElementById('edit-profile').style.display = 'none';
                    });
                </script>
                <% } %>